//红色
@red:#dd2a2b;

//蓝色
@blue:#2197e9;

//背景白
@white:#ffffff;

//背景灰
@bgGray:#f0f0f0;

//字体浅灰
@font-Sgray:#999999;

//字体深灰
@font-Lgray:#333333;

//圆角
.border-radius{
    border-radius: 0.5rem;
}

//小圆角
.border-radiusS{
    border-radius: 0.25rem;
}

//大按钮padding
.btnBig{
    .border-radius;
    width:15rem;
    text-align: center;
    font-size:@font1-25;
    line-height: 3rem;
}


//圆形
.circle{
    border-radius: 100%;
}

//more背景
.moreBg{
    background: url('../images/more.png') no-repeat 97% center ,@white;
    background-size:2rem 2rem;
}

//行样式
.lineStyle{
    text-indent: 1rem;
    font-size:@font1-25;
    line-height: 4rem;
    .shadow;
    .moreBg;
    .bottomRim
}

//阴影
.shadow{
    box-shadow: 0px 5px 10px rgba(10, 3, 3, 0.1);
}

//下边线
.topRim{
    border-top:1px solid @bgGray;
}

//下边线
.bottomRim{
    border-bottom:1px solid @bgGray;
}

//字体
@font1:1rem;
@font1-25:1.25rem;
@font1-5:1.5rem;

//上下间距
.getPadding{
    padding:45px 0 50px 0
}

//中间line
.e-line{
    width:100%;
    height:0.5rem;
    background: @bgGray;
}