//红色
@red:#dd2a2b;

//蓝色
@blue:#2197e9;

//背景白
@white:#ffffff;

//背景灰
@bgGray:#f0f0f0;

//字体浅灰
@font-Sgray:#999999;

//字体深灰
@font-Lgray:#333333;

//圆角
.border-radius{
    border-radius: 0.5rem;
}

//小圆角
.border-radiusS{
    border-radius: 0.25rem;
}

//大按钮padding
.btnBig{
    .border-radius;
    width:15rem;
    text-align: center;
    font-size:@font1-25;
    line-height: 3rem;
}


//圆形
.circle{
    border-radius: 100%;
}

//more背景
.moreBg{
    background: url('../images/more.png') no-repeat 97% center ,@white;
    background-size:2rem 2rem;
}

//行样式
.lineStyle{
    text-indent: 1rem;
    font-size:@font1-25;
    line-height: 4rem;
    .shadow;
    .moreBg;
    .bottomRim
}

//阴影
.shadow{
    box-shadow: 0px 5px 10px rgba(10, 3, 3, 0.1);
}

//下边线
.topRim{
    border-top:1px solid @bgGray;
}

//下边线
.bottomRim{
    border-bottom:1px solid @bgGray;
}

//字体
@font1:1rem;
@font1-25:1.25rem;
@font1-5:1.5rem;

//上下间距
.getPadding{
    padding:45px 0 50px 0
}

//中间line
.e-line{
    width:100%;
    height:0.5rem;
    background: @bgGray;
}


//内容框
.content{
    .getPadding;
    box-sizing: border-box;
    background: @bgGray;
}


//通用列表
.commonList{
    li{
        line-height: 3rem;
        margin-top:0.5rem;
        background: @white;
        font-size:@font1-25;
        display: flex;
        padding:0 1rem;
        box-sizing: border-box;
        span{
            width:7rem;
        }
        input{
            flex: 1;
            line-height:3rem;
            color:@font-Sgray;
            font-family: '微软雅黑'
        }
        input::placeholder{
            color:@font-Sgray;
        }
    }
}


//通用按钮
.boundbtn{
    margin-top:2rem;
    text-align:center;
    button{
        background: @blue;
        color:@white;
        .btnBig;
    }
}



.userBox{
    .shadow;
    position: relative;
    height:7rem;
    box-sizing: border-box;
    padding:1rem 1rem 1rem 7rem;
    .moreBg;
    .headPortrait{
        position: absolute;
        top:1rem;
        left: 1rem;
        width:5rem;
        height: 5rem;
        .circle;
        object-fit: cover;
    }
    .nick{
        line-height: 1.5rem;
        width:100%;
        height:100%;
        box-sizing: border-box;
        display: inline-block;
        padding-top:1rem;
        h2{
            font-size:@font1-25;
        }
        p{
            font-size:@font1;
            color:@font-Sgray;
        }
    }
    .btn{
        position: absolute;
        top:2rem;
        right:5rem;
        input{
            background: @blue;
            color:@white;
            padding:0.5rem 1.5rem;
            margin:0 0.5rem;
            .border-radius;
        }
    }
}